-
  const package = require('../../package.json');
p.build
  | This website iteration was built on
  |
  span.date #{new Date().toUTCString()} #[br]
  |
  |
  span.package
    |
    |
    span.name #{package.name}
    | @v
    span.version #{package.version}
