p.simpleicons Beautiful brand icons as seen on
  |
  | #[a(class='external' href='https://simpleicons.org') SimpleIcons.org]
p.googlefonts Fonts
  |
  | #[a(class='external' href='https://fonts.google.com/specimen/Ubuntu') Ubuntu],
  | #[a(class='external' href='https://fonts.google.com/specimen/Ubuntu+Mono') Ubuntu Mono] and
  | #[a(class='external' href='https://fonts.google.com/specimen/Fira+Sans') Fira Sans]
  | hosted by
  | #[a(class='external' href='https://fonts.google.com') Google Fonts] CDN
