p.stack
  | Designed and written using
  |
  a(class='external' href='https://webpack.js.org') Webpack
  | ,
  |
  a(class='external' href='https://pugjs.org') Pug
  |
  | and
  |
  a(class='external' href='https://tailwindcss.com') TailwindCSS
