-
  const stylesheetPaths = [
    'colors.css',
    'document.css',
    'fonts.css',
    'text.css',
    'elements/footer.css',
    'elements/header.css',
    'elements/text.css',
    'classes/card.css',
    'classes/credits-list.css',
    'classes/forkme.css',
    'classes/icon.css',
    'classes/langpicker.css',
    'classes/profile-links.css',
    'sections/projects.css',
    'sections/projects-cards/agencia33.css',
    'sections/projects-cards/this.css',
    'sections/projects-cards/trebol.css',
    'sections/tech.css',
    'sections/tech-cards/angular.css',
    'sections/tech-cards/apache2.css',
    'sections/tech-cards/aws.css',
    'sections/tech-cards/eclipse.css',
    'sections/tech-cards/git.css',
    'sections/tech-cards/github.css',
    'sections/tech-cards/intellij.css',
    'sections/tech-cards/java.css',
    'sections/tech-cards/mvn.css',
    'sections/tech-cards/spring.css',
    'sections/tech-cards/vscode.css'
  ];

each s in stylesheetPaths
  link(href=require(`../styles/${s}`) rel='stylesheet')
