-
  const stylesheetPaths = [
    'colors.css',
    'document.css',
    'fonts.css',
    'text.css',
    'elements/footer.css',
    'elements/header.css',
    'elements/text.css',
    'classes/card.css',
    'classes/credits-list.css',
    'classes/forkme.css',
    'classes/icon.css',
    'classes/langpicker.css',
    'classes/profile-links.css',
    'sections/projects.css',
    'sections/projects-cards/agencia33.css',
    'sections/projects-cards/this.css',
    'sections/projects-cards/trebol.css',
    'sections/tech.css'
  ];

each s in stylesheetPaths
  link(href=require(`../styles/${s}`) rel='stylesheet')
