div.projects > * {
  border-color: grey;
}
.this.project {
  background-color: #414;
}
.viridian.project {
  background-color: #00825a;
}
.viridian.project:hover {
  background-color: #006647;
}
.viridian.project {
  color: white;
}
.viridian.project:hover {
  color: #00ffb3;
}
.trebol.project {
  background-color: black;
}