#tech-grid > * {
  background-color: #eee;
  color: black;
}
#tech-grid #git {
  background-color: #d53;
  color: white;
}
#tech-grid #git:hover {
  background-color: #c42;
}
#git .icon {
  -webkit-filter: invert(85%);
  filter: invert(85%);  
}

#tech-grid #angular {
  background-color: #b34;
  color: white;
}
#tech-grid #angular:hover {
  background-color: #a23;
}
#angular .icon {
  -webkit-filter: invert(85%);
  filter: invert(85%);  
}

#tech-grid #java {
  background-color: #d73;
  color: white;
}
#tech-grid #java:hover {
  background-color: #b53;
}
#java .icon {
  -webkit-filter: invert(85%);
  filter: invert(85%);  
}

#tech-grid #github {
  background-color: #bbb;
}
#tech-grid #github:hover {
  background-color: #aaa;
}

#tech-grid #aws {
  background-color: #fb0;
}
#tech-grid #aws:hover {
  background-color: #da0;
}

#tech-grid #maven {
  background-color: #fcc;
}
#tech-grid #maven:hover {
  background-color: #ebb;
}

#tech-grid #apache {
  background-color: #dba;
}
#tech-grid #apache:hover {
  background-color: #da9;
}

#tech-grid #vscode {
  background-color: #27d;
  color: white;
}
#tech-grid #vscode:hover {
  background-color: #16c;
}
#vscode .icon {
  -webkit-filter: invert(85%);
  filter: invert(85%);  
}

#tech-grid #wordpress {
  background-color: #49d;
  color: white;
}
#tech-grid #wordpress:hover {
  background-color: #38c;
}
#wordpress .icon {
  -webkit-filter: invert(85%);
  filter: invert(85%);  
}

#tech-grid #eclipse {
  background-color: #94b;
  color: white;
}
#tech-grid #eclipse:hover {
  background-color: #83a;
}
#eclipse .icon {
  -webkit-filter: invert(85%);
  filter: invert(85%);  
}

#tech-grid #spring {
  background-color: #3b0;
  color: white;
}
#tech-grid #spring:hover {
  background-color: #2a0;
}
#spring .icon {
  -webkit-filter: invert(85%);
  filter: invert(85%);  
}