body {
  background-color: #414;
  color: #eee;
}

a {
  color: #ccc;
}
a:visited {
  color: #999;
}

#main {
  background-color: #737;
}

#header {
  border: 4px solid white;
}
#my-cv {
  color: #acF;
}
#my-cv:hover {
  color: #bdf;
  font-weight: bold;
}

#social-bar .icon {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
#social-bar .icon:hover {
  -webkit-filter: invert(85%);
  filter: invert(85%);  
}