div.tech > * {
  background-color: #eee;
  color: black;
}
div.tech #git {
  background-color: #d53;
  color: white;
}
div.tech #git:hover {
  background-color: #c42;
}
#git .icon {
  -webkit-filter: invert(85%);
  filter: invert(85%);  
}

div.tech #angular {
  background-color: #b34;
  color: white;
}
div.tech #angular:hover {
  background-color: #a23;
}
#angular .icon {
  -webkit-filter: invert(85%);
  filter: invert(85%);  
}

div.tech #java {
  background-color: #d73;
  color: white;
}
div.tech #java:hover {
  background-color: #b53;
}
#java .icon {
  -webkit-filter: invert(85%);
  filter: invert(85%);  
}

div.tech #github {
  background-color: #bbb;
}
div.tech #github:hover {
  background-color: #aaa;
}

div.tech #aws {
  background-color: #fb0;
}
div.tech #aws:hover {
  background-color: #da0;
}

div.tech #maven {
  background-color: #fcc;
}
div.tech #maven:hover {
  background-color: #ebb;
}

div.tech #apache {
  background-color: #dba;
}
div.tech #apache:hover {
  background-color: #da9;
}

div.tech #vscode {
  background-color: #27d;
  color: white;
}
div.tech #vscode:hover {
  background-color: #16c;
}
#vscode .icon {
  -webkit-filter: invert(85%);
  filter: invert(85%);  
}

div.tech #wordpress {
  background-color: #49d;
  color: white;
}
div.tech #wordpress:hover {
  background-color: #38c;
}
#wordpress .icon {
  -webkit-filter: invert(85%);
  filter: invert(85%);  
}

div.tech #eclipse {
  background-color: #94b;
  color: white;
}
div.tech #eclipse:hover {
  background-color: #83a;
}
#eclipse .icon {
  -webkit-filter: invert(85%);
  filter: invert(85%);  
}

div.tech #spring {
  background-color: #3b0;
  color: white;
}
div.tech #spring:hover {
  background-color: #2a0;
}
#spring .icon {
  -webkit-filter: invert(85%);
  filter: invert(85%);  
}