body {
  background-color: #414;
  color: #eee;
}

a {
  color: #acf;
}

#langpicker {
  background-color: #737;
}
#main {
  background-color: #737;
}

#profile-links .icon {
  -webkit-filter: invert(85%);
  filter: invert(85%);
}
#profile-links a:hover .icon {
  -webkit-filter: invert(100%);
  filter: invert(100%);  
}