body {
  background-color: #414;
  color: #eee;
}

a {
  color: #acf;
}

#langpicker {
  background-color: #737;
}
#main {
  background-color: #737;
}

#profile-links a {
  background-color: #414;
}
@media(min-width: 800px) {
  #profile-links a {
    background: none;
  }
}


#profile-links .icon {
  -webkit-filter: invert(75%) sepia(28%) saturate(746%) hue-rotate(189deg) brightness(101%) contrast(102%);
  filter: invert(75%) sepia(28%) saturate(746%) hue-rotate(189deg) brightness(101%) contrast(102%);
}
#profile-links a:hover .icon {
  -webkit-filter: invert(75%) sepia(28%) saturate(746%) hue-rotate(189deg) brightness(101%) contrast(102%);
  filter: invert(75%) sepia(28%) saturate(746%) hue-rotate(189deg) brightness(101%) contrast(102%);  
}