* {
  font-family: 'Lucida Console';
}

a {
  text-decoration: none;
}
a:hover {
  font-weight: bold;
}

h1 {
  font-family: sans-serif;
  font-size: 2.5rem;
}

#projects * {
  font-family: 'Lucida Console';
}
#projects div {
  font-size: 1.15rem;
}

#tech * {
  font-family: sans-serif;
}
#tech a {
  font-size: 1rem;
}