.tech.card-grid {
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-content: stretch;
  grid-gap: 1rem;
}
@media(min-width: 800px) {
  .tech.card-grid {
    grid-template-columns: repeat(auto-fit, 10rem);
  }
}
a.tech.card {
  border-radius: 6px;
  padding: 1rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.tech.card .icon {
  width: var(--tech-icon-size);
  height: var(--tech-icon-size);
  margin: 1rem 0;
}
.tech.card span {
  display: none;
}
@media(min-width: 800px) {
  .tech.card span {
    display: inline;
  }
}