:root {
  --social-icon-size: 32px;
  --tech-icon-size: 48px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: stretch;
  justify-content: center;
}
a {
  text-decoration: none;
}

#page {
  width: 100%;
  display: grid;
  grid-template-rows: max-content auto;
  padding: 0.5rem;
  grid-gap: 0.5rem;
}
@media(min-width: 800px) {
  #page {
    width: 800px;
    padding: 2rem;
    grid-gap: 1rem;
  }
}

#header {
  border-radius: 4px;
  padding: 0.5rem;
}
@media(min-width: 800px) {
  #header {
    padding: 1rem;
  }
}
#header > p {
  margin: 1rem 0;
}
#social-bar {
  display: grid;
  grid-gap: 16px;
  grid-auto-flow: column;
  grid-auto-columns: var(--social-icon-size);
}
#social-bar .icon {
  width: var(--social-icon-size);
  height: var(--social-icon-size);
}

#content {
  display: flex;
  flex-flow: column nowrap;
  padding: 1rem 0.5rem;
}
@media(min-width: 800px) {
  #content {
    padding: 0.5rem 2rem;
  }
}
#bio {
  padding: 1rem;
}
#projects {
  padding: 1rem 0;
}
#projects > * {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  border-width: 1px;
  border-style: solid;
  border-radius: 6px;
}
#this, #others {
  padding: 8px 0;
}

#tech {
  grid-template-columns: repeat(auto-fit, 10rem);
  justify-content: center;
  align-content: stretch;
  grid-gap: 1rem;
}
#tech > a {
  border-radius: 6px;
  padding: 1rem 6px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
#tech .icon {
  width: var(--tech-icon-size);
  height: var(--tech-icon-size);
  margin: 1rem 0;
}


#credits {
  margin-top: auto;
  list-style: none;
}
#credits a {
  text-decoration: underline;
}