#social-bar {
  display: grid;
  grid-gap: 16px;
  grid-auto-flow: column;
  grid-auto-columns: var(--social-icon-size);
  padding: 0 0.5rem 0.5rem;
}
@media(min-width: 800px) {
  #social-bar {
    padding: 0;
  }
}
#social-bar .icon {
  width: var(--social-icon-size);
  height: var(--social-icon-size);
}