#presentation {
  border-radius: 4px;
  padding: 0.5rem;
}
@media(min-width: 800px) {
  #presentation {
    padding: 1rem;
  }
}
#presentation > p {
  margin: 1rem 0;
  display: flex;
  flex-flow: column nowrap;
  padding: 0 0.5rem;
}
@media(min-width: 800px) {
  #presentation > p {
    padding: 0;
  }
}