:root {
  --social-icon-size: 32px;
  --tech-icon-size: 48px;
}

* {
  margin: 0;
  padding: 0;
}

#scroll-viewer {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  display: flex;
  justify-content: center;
}

#main {
  width: 100%;
  display: grid;
  grid-template-rows: max-content auto;
  padding: 0.5rem;
  grid-gap: 0.5rem;
}
@media(min-width: 800px) {
  #main {
    width: 800px;
    padding: 2rem 2rem 1rem;
    grid-gap: 1rem;
  }
}

#header {
  border-radius: 4px;
  padding: 0.5rem;
}
@media(min-width: 800px) {
  #header {
    padding: 1rem;
  }
}
#header > p {
  margin: 1rem 0;
  display: flex;
  flex-flow: column nowrap;
  padding: 0 0.5rem;
}
@media(min-width: 800px) {
  #header > p {
    padding: 0;
  }
}

#content {
  display: flex;
  flex-flow: column nowrap;
  padding: 1rem 0.5rem;
}
@media(min-width: 800px) {
  #content {
    padding: 0.5rem 2rem;
  }
}
#bio {
  padding: 1rem;
}

#credits {
  margin-top: auto;
  list-style: none;
  text-align: center;
}
#credits a {
  text-decoration: underline;
}

#footer {
  margin-top: 1.5rem;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
}