:root {
  --tech-icon-size: 48px;
}

#tech .card-grid {
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

#tech .card-grid > .card {
  border-radius: 8px;
  box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.1);
  justify-content: space-evenly;
}

#tech .card-grid > .card > :last-child {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#tech .card-grid > .card > .icon {
  width: var(--tech-icon-size);
  height: var(--tech-icon-size);
  margin: 1rem 0;
}

@media(prefers-color-scheme: light) {
  #tech .card-grid > .card {
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.2);
  }
}

@media(min-width: 641px) {
  #tech .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media(min-width: 1008px) {
  #tech .card-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}
