#tech .git.card {
  background-color: rgba(221, 85, 51, 0.9);
  color: white;
}
#tech .git.card:hover {
  background-color: rgba(204, 68, 34, 0.9);
}

#tech .git.card .icon {
  filter: invert(100%);
}
