#tech .spring.card {
  background-color: rgba(51, 170, 0, 0.9);
  color: white;
}
#tech .spring.card:hover {
  background-color: rgba(50, 189, 0, 0.9);
}

#tech .spring.card .icon {
  filter: invert(100%);
}
