mixin footer-content()
  div.upper
    ul.credits-list
      li
        | Beautiful brand icons as seen on
        |
        a(href='https://simpleicons.org' target='_blank' rel='noopener') SimpleIcons.org
      li
        | Cool fonts
        |
        a(href='https://fonts.google.com/specimen/Work+Sans' target='_blank' rel='noopener') Work Sans
        |
        | and
        |
        a(href='https://fonts.google.com/specimen/Ubuntu+Mono' target='_blank' rel='noopener') Ubuntu Mono
        |
        | downloaded from
        |
        a(href='https://fonts.google.com' target='_blank' rel='noopener') Google Fonts
  div.lower
    span This site DOES NOT use cookies and DOES NOT collect ANY personal information
    span Built with pure HTML and CSS
    span Last updated on #{new Date().toUTCString()}
    span Code #[a(href='/LICENSE' type='text/plain') licensed under MIT]
