:root {
  --color-primary: #763276;
  --color-primary-light: #b34db3;
  --color-primary-dark: #471f47;
  --color-accent: #2891d7;
  --color-accent-light: #44b3fd;
  --color-accent-dark: #0f598a;
  --color-background: #451145;
  --color-background-light: #781c78;
  --color-background-dark: #0f000f;
  --color-text: #eeeeee;
  --color-text-inverted: #2a2a2a;
}

@media(prefers-color-scheme: light) {
  :root {
    --color-primary: #c87ec8;
    --color-primary-light: #d194d1;
    --color-primary-dark: #633663;
    --color-accent: #2891d7;
    --color-accent-light: #44b3fd;
    --color-accent-dark: #004d80;
    --color-background: #c799e6;
    --color-background-light: #e0b6fc;
    --color-background-dark: #a764d3;
    --color-text: #2a2a2a;
    --color-text-inverted: #eeeeee;
  }
}
