:root {
  --font-primary-monospace: 'Ubuntu Mono';
  --font-primary-sans: 'Work Sans';
}

* {
  font-family: var(--font-primary-sans), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary-monospace), monospace;
}
