#main {
  width: 100%;
  display: grid;
  height: max-content;
  padding: 0.5rem;
  grid-gap: 0.5rem;
  background-color: #737;
  box-shadow: 0 0 32px 10px rgba(0, 0, 0, 0.5);
}
@media(min-width: 800px) {
  #main {
    width: 800px;
    padding: 2rem 2rem 1rem;
    grid-gap: 1rem;
  }
}
