#projects .card-grid {
  align-items: stretch;
}

#projects .card {
  border-width: 1px;
  border-style: solid;
  border-color: rgba(32, 32, 32, 0.25);
  width: 100%;
}
#projects .company.card {
  background-color: #0ebf04;
  color: black;
}
#projects .this.card {
  background-color: #414;
}
#projects .trebol.card {
  background-color: #1f5214;
  color: white;
}
