#projects.card-grid {
  padding: 1rem 0;
  grid-auto-rows: 6rem;
}

.project.card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  border-width: 1px;
  border-style: solid;
  border-radius: 6px;
  padding: 8px;
  border-color: grey;
}
.company.project.card {
  background-color: #0ebf04;
  color: white;
}
.this.project.card {
  background-color: #414;
}
.trebol.project.card {
  background-color: #1f5214;
  color: white;
}


#projects * {
  font-family: 'Lucida Console';
}
#projects div {
  font-size: 1.15rem;
}
