:root {
  --tech-icon-size: 48px;
}

#tech .card-grid {
  font-size: 1.15rem;
}

#tech .card {
  margin: 16px;
  background-color: #eee;
  color: black;
  border-radius: 8px;
  width: 6rem;
  box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.1);
}

#tech .card .icon {
  width: var(--tech-icon-size);
  height: var(--tech-icon-size);
  margin: 1rem 0;
}

#tech .card span {
  display: none;
}

@media(min-width: 641px) {
  #tech .card span {
    display: inline;
    font-family: 'Ubuntu Mono';
    /* font-weight: bold; */
  }

  #tech .card {
    width: 8rem;
  }
}
