:root {
  --profile-link-icon-size: 24px;
}

.profile-links {
  font-size: 1.25rem;
  list-style: none;
  padding: 1rem;
}

.profile-links > a {
  display: inline-grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
}

.profile-links > a > .icon {
  height: var(--profile-link-icon-size);
  filter: invert(100%);
}
.profile-links > a:hover > .icon {
  filter: invert(100%);
}
@media(prefers-color-scheme: light) {
  .profile-links > a.github > .icon {
    filter: none;
  }
  .profile-links > a.linkedin > .icon {
    filter:
      invert(26%) sepia(98%) saturate(2784%) hue-rotate(198deg) brightness(85%) contrast(92%);
  }
}

@media(min-width: 641px) {
  .profile-links {
    padding: 2rem 0 0.5rem 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
  }

  .profile-links > a {
    width: auto;
    padding: 0;
  }
}
