#tech .angular.card {
  background-color: rgba(187, 51, 68, 0.9);
  color: white;
}
#tech .angular.card:hover {
  background-color: rgba(170, 34, 51, 0.9);
}

#tech .angular.card .icon {
  filter: invert(100%);
}
