#tech .intellij-idea.card {
  background-color: rgba(187, 68, 153, 0.9);
  color: white;
}
#tech .intellij-idea.card:hover {
  background-color: rgba(170, 51, 136, 0.9);
}

#tech .intellij-idea.card .icon {
  filter: invert(100%);
}
