#tech .vscode.card {
  background-color: rgba(34, 119, 221, 0.9);
  color: white;
}
#tech .vscode.card:hover {
  background-color: rgba(17, 102, 204, 0.9);
}

#tech .vscode.card .icon {
  filter: invert(100%);
}
