* {
  color: var(--color-text);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

a {
  color: var(--color-accent-light);
  text-decoration: none;
}
a:hover {
  color: var(--color-accent);
}
@media(prefers-color-scheme: light) {
  a {
    color: var(--color-accent-dark);
  }
  a:hover {
    color: var(--color-primary-dark);
  }
}

@media(max-width: 640px) {
  h2 {
    text-align: center;
    margin-right: 1.5rem;
  }
}
