h2 🚀 Ongoing projects
p These are the things that keep me busy.
div.card-grid
  a.agencia33.card(href='https://agencia33.cl'
  target='_blank' rel='noopener')
    span Agencia 33
    span Marketing & software development business
  a.trebol.card(href='https://trebol-ecommerce.github.io/ngx-trebol-frontend'
  target='_blank' rel='noopener')
    span Trebol (spanish for 'Clover')
    span An eCommerce solution with an user-friendly web interface
  div.this.card
    span This site
    span As I learn, I redesign & put my CSS & design knowledge into practice
