:root {
  --color-primary: hsl(300, 40%, 33%);
  --color-primary-light: hsl(300, 40%, 50%);
  --color-primary-dark: hsl(300, 40%, 20%);
  --color-accent: hsl(204, 69%, 50%);
  --color-accent-light: hsl(204, 98%, 63%);
  --color-accent-dark: hsl(204, 80%, 30%);
  --color-background: hsl(300, 60%, 17%);
  --color-background-light: hsl(300, 62%, 29%);
  --color-background-dark: hsl(300, 100%, 3%);
  --color-text: #eeeeee;
  --color-text-inverted: #2a2a2a;
}

@media(prefers-color-scheme: light) {
  :root {
    --color-primary: hsl(300, 40%, 64%);
    --color-primary-light: hsl(300, 40%, 70%);
    --color-primary-dark: hsl(300, 29%, 30%);
    --color-accent: hsl(204, 69%, 50%);
    --color-accent-light: hsl(204, 98%, 63%);
    --color-accent-dark: hsl(204, 100%, 25%);
    --color-background: hsl(276, 60%, 75%);
    --color-background-light: hsl(276, 91%, 85%);
    --color-background-dark: hsl(276, 56%, 61%);
    --color-text: #2a2a2a;
    --color-text-inverted: #eeeeee;
  }
}
