* {
  margin: 0;
  padding: 0;
}

body {
  overflow: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  background: var(--color-background);
  background: linear-gradient(
    180deg,
    var(--color-background) 0%,
    var(--color-background) 35%,
    var(--color-background-dark) 100%);
  color: var(--color-text-inverted);
}
@media(prefers-color-scheme: light) {
  body {
    background: linear-gradient(
      180deg,
      var(--color-background) 0%,
      var(--color-background) 35%,
      var(--color-background-light) 100%);
  }
}
