:root {
  --social-icon-size: 32px;
  --tech-icon-size: 48px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  overflow: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  background: #441144;
  background: linear-gradient(180deg, #441144 0%, #441144 35%, #100010 100%);
  color: #eee;
}
