:root {
  --social-icon-size: 32px;
  --tech-icon-size: 48px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  overflow: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #414;
  color: #eee;
}
