main {
  /* width: 100%; */
  /* height: max-content; */
  margin: 1rem 0.5rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem 0.5rem;
}

main > * {
  padding: 1rem;
  border-radius: 8px;
  background-color: #737;
  box-shadow: 0 0 32px 10px rgba(0, 0, 0, 0.5);
}

@media(min-width: 800px) {
  main {
    width: 800px;
    margin: 1.5rem 0;
    gap: 3rem;
  }

  main > * {
    padding: 1.5rem;
  }
}
