* {
  font-family: 'Work Sans';
  color: var(--color-text);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-family: Calibri, Verdana;
  font-size: 1.75rem;
}

a {
  color: var(--color-primary-light);
  text-decoration: none;
}
a:hover {
  color: var(--color-primary);
}
@media(prefers-color-scheme: light) {
  a {
    color: var(--color-primary-dark);
    text-decoration: none;
  }
}

@media(max-width: 640px) {
  h2 {
    text-align: center;
    margin-right: 1.5rem;
  }
}
