#tech .ng.card {
  background-color: rgba(187, 51, 68, 0.9);
}
#tech .ng.card:hover {
  background-color: rgba(170, 34, 51, 0.9);
}
#tech .ng.card .icon {
  -webkit-filter: invert(85%);
  filter: invert(85%);
}

#tech .ng.card span {
  color: white;
}
