#tech .eclipse.card {
  background-color: rgba(153, 68, 187, 0.9);
  color: white;
}
#tech .eclipse.card:hover {
  background-color: rgba(136, 51, 170, 0.9);
}

#tech .eclipse.card .icon {
  filter: invert(100%);
}
